@import "compass";
@import "foundation";

*{
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.header{
    height: 70px;
    background: #ffffff;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    padding: 0 1em;
}

.left{
    background: #f7f7f7;
    height: calc(100vh);
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width : 100%;
    padding: 2em;
}

.right{
    background: #f7f7f7;
    height: calc(100vh);
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    top: 0;
    width : 100%;
    padding: 2em;
}

.main{
    padding: 1em 2em;
    margin-bottom: 2em;
    position: relative;
    z-index: 2;
    overflow: hidden;
}


.thumbnails{
    margin-bottom: 2em;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: relative;
    transform: scale(1);
    transition: transform 0.2s ease;

    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;

        p{
            background: #ffffff;
        }
    }

    &:hover{
        transform: scale(1.2);
    }

    &.active{
        border: 2px solid #ff0000;

        .overlay{
            display: flex;
        }
    }
}

.searchbarContainer{
    padding: 0;
    margin: 3.5em 0;
    overflow: hidden;
}

.searchbar{
    border: 0;
    padding: 0.5em;
}

.searchbarButton{
    border: 0;
}

.filmLink{
    text-align: center;
    text-decoration: none;
    color: #1a1a1a;
    transform: translateY(20%);
    transition: 1s;

    &.showed{
        transform: translateY(0);
    }
}

.mainTitle{
    font-size: 56px;
}

.filmInfo{
    opacity: 0;
    transform: translateX(20%);
    transition: 0.2s;

    &.showed{
        opacity: 1;
        transform: translateX(0);
    }
}